              /* Styles for multiple item */

*{
  margin: 0px;
  padding:0px;
  font-family: "Inter", sans-serif;
}

.btn{
  border-radius: 4px;
}

.btn:hover{

  box-shadow: 0px 5px 10px rgb(141, 141, 141);

}


              /* Header and Navigation Bar */
header{
  max-width: 1600px;
  /* width: 1600px; */
  height: 92px;
  padding: 16px 120px ;
  
}
header nav{
  
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header nav .logo img{

  width: 139px;
  height: 60px;

}

header nav div ul{

  display :flex;
  justify-content: space-between;
  align-items: center;
  gap:32px;
  list-style: none;
}

header nav div li{
  font-weight: 500px;
}

.btn1{
  width: 164px;
  background-color: rgba(70, 145, 101, 1);
  border: none;
  height: 44px;
  padding: 12px 16px;
  color:white;
  font-weight: 600px;
}

          /* Header Designing Ends Here */

          /* Main section Starts Here  */

main .banner{

  
  width: 1600;
  height: 680px;
  background: url('./assets/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 116px;
}

main .banner .banner-item-container{
  height: 380px;
  width: 1360px;
  margin: 0px auto ;
  

}

.banner-item-container .ea-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 565px;
  padding:8px 12px;
  width: 230px;
  height: 35px;
  border-radius:1000px ;
  font-weight: 500px;
  text-align: center;
  background-color: white;
  gap:2px;
}

.banner-item-container .ea-div h3{

  
  color:rgba(70, 145, 101, 1);
  text-align: left;
  font-weight: 500;
  
}


.banner-item-container .ea-div .g5{
 height: 16px;
 width: 16px;
 border-radius: 8px;
}

.banner-item-container .h-container{
  height: 168px;
  width: 770px;
  margin: 16px auto;
  line-height: 84px;
  text-align: center;
  font-weight: 500;
  text-align: center;
}
.banner-item-container .h-container h1{
  font-size: 72px;
  font-weight: 700px;
  
}
.banner-item-container .h-container .h1-one{
  color:white;
}
.banner-item-container .h-container .h1-two{
  color:rgba(48, 184, 104, 1);
}

  
.banner .banner-item-container  .text-container {
    height: 60px;
    text-align: center;
    font-weight: 400px;
    font-size: 18px;
    margin-top: 16px;
    /* line-height: 24px; */
  }
  .banner .banner-item-container .text-container p{
    line-height: 40px;
    color: white;
    
  }

   .banner .banner-item-container .btn-container {
    height: 52px;
    width: 1360px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 32px;
    gap:16px;

  }

  .bc-btn1{
    background-color:rgba(48, 184, 104, 1) ;
    color: white;
    border:none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    gap:10px;
    font-weight: 600px;
  }
  
  .bc-btn2{
    background-color: rgba(0,0,0,0);
    color: white;
    border:none;
    
    display: flex;
    font-weight: 600px;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    border: 1px solid white;
    gap:10px;
  }
  
           
  
  
  
  
          /* card */
  .card-container{
        height: 448px;
        max-width: 1360px;
        margin: 0px auto;
        background-color: rgba(255, 255, 255, 1);
  }
 .card-container .card-head{
  
  text-align: center;  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap:16px;
  margin-bottom: 44px;

 }

  .card-container .card-head h1{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 116px;
    font-weight: 700px;
    font-size: 48px;

    color:rgba(0, 25, 49, 1);
    
  }
   .card-container .card-head p{
    font-weight: 400px;
    text-align: center;
    color: rgba(98, 115, 130, 1);
    
   }
   .card-container .cards{
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    gap:24px;
    padding: 24px;
   }

   .card-container .cards .card{
    height: 300px;
    width: 322px;

    box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 16px;
    
   }

   .card .card-img{
    height: 60px;
    width: 60px;
    border-radius: 40px;
    background-color: rgba(249, 85, 85, 1);

   }
   .card .card-img img{
    height: 32px;
    width: 32px;
    margin: 14.38px 14.07px 13.62px 13.93px;
   }

   .card h4{
    color: rgba(0, 25, 49, 1);
    font-weight: 600px;
    font-size: 24px;
    text-align: center;
   } 
   
   .card p{
    font-weight: 400px;
    line-height: 20px;
    color: rgba(98, 115, 130, 1);
    text-align: center;
   }

      /* card ends here */

      /* Solution section */

      .solution{

        height: 840px;
        max-width:1600px;
       
      }

      .solution .sol-container{
        max-width: 1360px;
        height: 600px;
        margin-top: 120px ;
        margin-left: 120px ;

        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .solution .sol-container .sol-img{
        height: 600px;
        width: 600px;
      }
 
      .solution .sol-container .sol-text{

        width: 700px;
        height: 396px;
        margin-top: 102px;
       

      }

      .solution .sol-container .sol-text .p1{
        color: rgba(70, 145, 101, 1);
        font-weight: 500px;
        font-size: 16px;
        
        

      }

      .solution .sol-container .sol-text h1{
        margin-top: 16px;
         color:rgba(0, 25, 49, 1);
         font-size: 48px;
         font-weight: 700px;
         line-height: 58px;
         
      }

      .solution .sol-container .sol-text .p2{
        font-weight: 400;
        color:rgba(98, 115, 130, 1);
        
      }

      .solution .sol-container .sol-text ul{
        list-style: none;
        margin-top: 40px;
        color: rgba(0, 25, 49, 1);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap:16px;

      }

      .solution .sol-container .sol-text ul li{

        display: flex;
        justify-content: left;
        align-items: center;
        gap:6px;
        font-weight: 500;


      }

      /* Solution Ends here */

      /* Think more clear section */
      .moreclear {
        max-width: 1600px;
        

      }
      .moreclear .mc-container{
        max-width: 1360px;
        max-height: 384px;
        margin: 0px auto;
        border-radius: 12px;
        background-color: rgba(247, 246, 242, 1);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap:24px;
      }
      

      .mc-text h1{
        margin-top: 80px;
        font-weight: 700;
        text-align: center;
        font-size: 40px;
        
      }
      
      .mc-text p{
        font-weight: 400;
        text-align: center;
        font-size: 16px;
        color: rgba(98, 115, 130, 1);
        line-height: 24px;
        
      }
      .mc-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:16px;
        margin-bottom: 80px;
      }
      .mc-btn button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        background-color: rgba(70, 145, 101, 1);
        color: white;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
        padding: 16px 12px;
        border: none;
        font-weight: 600;
      }

      .mc-btn p{

        text-align: center;
        font-weight: 400;
        color:rgba(98, 115, 130, 1);

      }
      /* Think more clear section Ends here */


      /* Main also ends here */

    footer{
      max-width: 1600px;
      margin-top: 120px;
      background-color: rgba(0, 25, 49, 1);
      padding:120px 120px 30px 120px;

    }

    footer section{
      max-width:1360px ;
      max-height: 348px;
      margin: 0px auto; 
      
    
    }

      footer section .description{

        display: flex;
        justify-content: space-between;
        align-items: center;
        
      }

      footer .description .foot-logo{
        width: 139px;
        height: 60px;
      }

      footer .description .foot-content{
        width: 220px;
        height: 64px;
      }
      footer .description .foot-content p{
          font-size: 20px;
          font-weight: 500;
          color: white;
          margin-bottom: 16px;
        
      }
      footer .description .foot-content img{
         margin-right: 16px;

      
      }

      .copyrightcontent{
        min-height: 54px;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

      }
      .copyrightcontent p{
        text-align: center;
        color: white;
      }


      