              /* Styles for multiple item */

*{
  margin: 0px;
  padding:0px;
  font-family: "Inter", sans-serif;
}

/* .btn{




} */


              /* Header and Navigation Bar */
header{
  max-width: 1600px;
  /* width: 1600px; */
  height: 92px;
  padding: 16px 120px ;
  
}
header nav{
  
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header nav .logo img{

  width: 139px;
  height: 60px;

}

header nav div ul{

  display :flex;
  justify-content: space-between;
  align-items: center;
  gap:32px;
  list-style: none;
}

header nav div li{
  font-weight: 500px;
}

.btn1{
  width: 164px;
  background-color: rgba(70, 145, 101, 1);
  border-radius: 4px;
  border: none;
  height: 44px;
  padding: 12px 16px;
  color:white;
  font-weight: 600px;
}

          /* Header Designing Ends Here */

          /* Main section Starts Here  */

main .banner{

  
  width: 1600;
  height: 680px;
  background: url('./assets/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 116px;
}

main .banner .banner-item-container{
  height: 380px;
  width: 1360px;
  margin: 0px auto ;
  /* border: 1px solid black; */

}

.banner-item-container .ea-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 565px;
  padding:8px 12px;
  width: 230px;
  height: 35px;
  border-radius:1000px ;
  font-weight: 500px;
  text-align: center;
  background-color: white;
  gap:2px;
}

.banner-item-container .ea-div h3{

  
  color:rgba(70, 145, 101, 1);
  /* width: 183px;
  height: 19px; */
  text-align: left;
  font-weight: 500;
  
}


.banner-item-container .ea-div .g5{
 height: 16px;
 width: 16px;
 border-radius: 8px;
}

.banner-item-container .h-container{
  height: 168px;
  width: 770px;
  margin: 16px auto;
  line-height: 84px;
  text-align: center;
  font-weight: 500;
  text-align: center;
}
.banner-item-container .h-container h1{
  font-size: 72px;
  font-weight: 700px;
  
}
.banner-item-container .h-container .h1-one{
  color:white;
}
.banner-item-container .h-container .h1-two{
  color:rgba(48, 184, 104, 1);
}

  
.banner .banner-item-container  .text-container {
    height: 60px;
    text-align: center;
    font-weight: 400px;
    font-size: 18px;
    margin-top: 16px;
    /* line-height: 24px; */
  }
  .banner .banner-item-container .text-container p{
    line-height: 40px;
    color: white;
    
  }

   .banner .banner-item-container .btn-container {
    height: 52px;
    width: 1360px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 32px;
    gap:16px;

  }

  .bc-btn1{
    background-color:rgba(48, 184, 104, 1) ;
    color: white;
    border:none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    gap:10px;
  }
  
  .bc-btn2{
    background-color: rgba(0,0,0,0);
    color: white;
    border:none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    border: 1px solid white;
    gap:10px;
  }
  
            /* card */
  .card-container{

    height: 152px;
    width: 1360px;
    margin: 0px auto;
    

  }
  .card-container .card-head{
    text-align: center;
    
  }
  .card-container .card-head h{
    margin:40px 0px 16px 0px;
  }
